[package]
name = "preprocess-progress"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
prodash.workspace = true
