[package]
name = "preprocess-progress"
version = "0.1.0"
rust-version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
prodash.workspace = true
